<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Básica</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="contenedor">
        <header>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </header>

        <section class="main">
            <div class="imagen">
                <img src="imagenes/bg.jpg" alt="">
            </div>
            <section class="posts">
                <article>
                    <h2>Titulo del Artículo</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius temporibus ea molestiae laudantium accusamus rerum corporis magnam incidunt illum sapiente vel laboriosam, sequi molestias quia? Odit, reiciendis. Dolorem, assumenda repudiandae.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius temporibus ea molestiae laudantium accusamus rerum corporis magnam incidunt illum sapiente vel laboriosam, sequi molestias quia? Odit, reiciendis. Dolorem, assumenda repudiandae.
                    </p>
                </article>
            </section>

        </section>
        <aside>
            <div class="widget">
                <h3 class="titulo">Articulos destacados</h3>
                <ul>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit</a></li>
                </ul>
            </div>
            <div class="widget">
                <h3 class="titulo">Información</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis unde, fuga cupiditate nemo vitae perspiciatis culpa in minima aut voluptates officiis debitis, fugit recusandae eligendi reprehenderit ab modi voluptatibus. Beatae.
                </p>
            </div>
        </aside>

        <footer>
            <p>Curso Diseño Web Profesional El Curso Completo - Udemy</p>
        </footer>
    </div>
</body>
</html>
